.DividerContainer {
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  width: 100%;
}
.DividerText::before,
.DividerText::after {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  width: calc(1004px - 100%);
  height: 1px;
  background: var(--secondary-light);
}
.DividerText::before {
  right: 100%;
  margin-right: 12px;
}
.DividerText::after {
  left: 100%;
  margin-left: 12px;
}

.DividerText {
  position: relative;
  display: inline-block;
  border: 1px solid var(--secondary-main);
  padding: 8px 13px;
  border-radius: 1000px;
  background: white;
  color: var(--secondary-main);
  font-weight: 500;
  font-size: small;
}
