.Form {
  display: flex;
  gap: 12px;
}

@media screen and (max-width: 500px) {
  .Form {
    flex-direction: column;
    width: 100%;
  }
}

.Button {
  border: none;
  border-radius: 4px;
  padding: 6px 16px;
  background: var(--primary);
  color: white;
  font-weight: bold;
  font-family: 'Ubuntu';
}
.Button:disabled {
  background: rgba(0, 0, 0, 0.12);
  color: rgba(0, 0, 0, 0.26);
}
.Error {
  color: red;
}
