:root {
  /* color */
  --primary: rgb(90 53 245);

  /* font size */
  --base: 1rem;
  --sm: 0.8125rem;

  /* font weight */
  --bold: 700;
}

.Nav {
  height: 48px;
  display: flex;
  align-items: center;
  background: var(--primary);
  color: white;
  font-size: small;
  font-weight: bold;
}

.Header {
  font-size: xx-large;
}

.Brand {
  position: absolute;
  top: 48px;
  left: 0px;
  /* margin-bottom:calc() ; */
  line-height: 0.75;
  font-size: 200px;
  font-weight: bold;
  writing-mode: vertical-rl;
  letter-spacing: 36px;
  background: linear-gradient(red, orange, yellow, green, blue);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.Main {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-left: 149px;
}
